<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <style>
        

        /*--Section-1--*/
        .section-1{
            margin:0;
            padding: 0;
            box-sizing: border-box;
        }
        .section-1{
            background-color: #eeeeee;
            height: 700px;
            padding: 25px 25px;
        }
        .container-1{
            height: 650px;
            width: inherit;
            border-radius: 10px;
            display: flex;
            flex-wrap: wrap;
        }
        .intro-content{
            height: inherit;
            padding-left: 100px;
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .intro-content>h1{
            color: #ef9b00;
            font-size: 100px;
        }
        .intro-content>p{
            font-size: 22px;
            margin-bottom: 0;
        }
        .intro-image-box{
            display: flex;
            align-items: center;
            justify-content: center;
            height: inherit;
            width: 40%;
        }
        .intro-image{
            height:350px;
            width: 350px;
            background-image: url("../../uploads/images/intro\ image.jpeg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            border-radius: 20px;
            transform: rotate(20deg);
        }
        .intro-img-container{
            height: 350px;
            width: 350px;
            border: 10px white solid;
            border-radius: 20px;
        }
        
        
        .section-2{
            height: 800px;
            padding: 40px 75px 0;
        }
        .container-2{
            display: flex;
            height: 90%;
            flex-wrap: wrap;
            justify-content: space-between;
            
        }
        .delivery-image{
            width: 50%;
            height: inherit;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        #man-delivering{
            width: 90%;
        }
        .our-mission{
            width: 40%;
            height: inherit;
            padding: 25px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: right;
            text-align: end;
        }
        .our-mission>h1 , .working-process>h1{
            font-size: 60px;
            font-weight: 600;
            color: #d78c00;
        }
        .our-mission>p , .working-process>p{
            font-size: 17.5px;
            letter-spacing: 1.5px;
            font-weight: 300;
        }
        
        
        /*--Section-3--*/
        .container-3{
            background-color: #f4f3f3;
            height: 500px;
            display: grid;
            padding:5% 5%;
            grid-template-rows: 1fr;
            grid-template-columns: repeat(4,22%);
            justify-content: space-between;
        }
        .feature{
            border-radius: 20px;
            background-color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 25px;
            text-align: center;
            
        }
        .feature>i{
            height: 25%;
            margin-top: 25px;
            font-size: 75px;
            color: #ef9b00;
        }
        .feature>h3{
            margin-top: 10%;
            height: 20%;
            font-size: 30px;
        }
        .feature>p{
            padding: 0 5%;
            height: 30%;
            text-align: center;
            letter-spacing: 1.25px;
        }
        
        
        /*--Section:4--*/
        .section-4{
            height: 500px;
            padding: 50px;
        }
        .container-4{
            height:inherit;
            display: flex;
            flex-wrap: wrap;
            gap: 10%;
        }
        .working-process{
            width: 40%;
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
        .woking-image{
            width: 50%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }
        .woking-image>img{
            width: 110%;
        }
        
        
        /*--Section-5--*/
        .container-5{
            height: 800px;
            background-color: #f4f3f3;
            padding: 5%;
            display: grid;
            grid-template-rows: auto;
            grid-template-columns: repeat(3,25%);
            gap: 5%;
            width: 100%;
            justify-content: space-evenly;
        }
        .team-members{
            background-color: white;
            border-radius: 20px;
            display: flex;
            
            flex-direction: column;
            align-items: center;
        }
        .members-image{
            height: 60%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .members-image>img{
            height: inherit;

        }
        .members-socials{
            height: 20%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 20px;
            padding-top: 2.5%;
        }
        .members-socials>i{
            font-size: 20px; 
            color: #d78c00;
        }
        .members-name{
            height: 20%;
            font-size: 30px;
            padding-top: 5%;
            font-family:'Times New Roman', Times, serif; 
        }
        .members-socials>i:hover{
            color: gray;
        }

    </style>
</head>
<body>
    <script src="https://kit.fontawesome.com/03ac2c0258.js" crossorigin="anonymous"></script>

    <!--Section-1: Introduction-->
    <section id="introduction" class="section-1">
        <div class="container-1">
            <div class="intro-content">
                <p>Welcome to</p>
                <h1>Zaika Junction</h1>
                <p>Your go-to platform for quick, reliable, and delicious food deliveries!</p>
            </div>
            <div class="intro-image-box">
                <div class="intro-img-container"><div class="intro-image"></div></div>
            </div>
            
        </div>
    </section>

    <!--Section-2: Mission-->
    <section id="mission" class="section-2">
        <div class="container-2">.
            <div class="delivery-image">
                <img id="man-delivering" src="../../uploads/images/delivery icon.png" alt="man delivering">
            </div>
            <div class="our-mission">
                <h1>Our Goal Is To Make Delivery Easy For You</h1>
                <p>We connect you with your favorite restaurants and ensure that every meal is delivered fresh, fast, and at your convenience.</p>
            </div>
        </div>
    </section>

    <!--Section-3: Key Features-->
    <section class="section-3" id="key-features">
        <div class="container-3">
            <div class="feature" id="fast-delivery"><i class="fa-solid fa-truck"></i><h3>Fast Delivery</h3><p>Get your food delivered to your doorstep in record time.</p></div>
            <div class="feature" id="discounts"><i class="fa-solid fa-percent"></i><h3>Regular Discounts</h3><p>Enjoy great savings with regular discounts and exclusive offers.</p></div>      
            <div class="feature" id="food-variety"><i class="fa-solid fa-utensils"></i><h3>Variety Of Food</h3><p>From local favorites to international cuisines, explore a wide variety of food options that cater to all tastes and preferences.</p></div>
            <div class="feature" id="payment"><i class="fa-regular fa-credit-card"></i><h3>Easy Payment Options</h3><p>Make payments with ease using multiple payment options, including credit cards, digital wallets, and cash on delivery.</p></div>
        </div>
    </section>


    <!--Section-4: Working-->
    <section id="working" class="section-4">
        <div class="container-4">
            <div class="working-process">
                <h1>How It Works?</h1>
                <p>Getting started is simple! Just download our app, login/signup, browse foods and restaurants you like, place an order, and sit back while we deliver it to your doorstep. Track your order in real-time and enjoy seamless payment options.</p>
            </div>
            <div class="working-image">
                <img src="../../uploads/images/working.jpeg" alt="working-Of-Application">
            </div>
        </div>
    </section>

    <!--Section-5: Our Team-->
    <section id="our-team" class="section-5">
        <div class="container-5">
            <div class="team-members">
                <div class="members-image">
                    <img src="#">
                </div>
                <h3 class="members-name">Aditya Khare</h3>
                <div class="members-socials">
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-facebook-f"></i>
                    <i class="fa-brands fa-linkedin-in"></i>
                    <i class="fa-brands fa-x-twitter"></i>
                </div>
            </div>
            <div class="team-members">
                <div class="members-image">
                    <img src="#">
                </div>
                <h3 class="members-name">Apurva Gupta</h3>
                <div class="members-socials">
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-facebook-f"></i>
                    <i class="fa-brands fa-linkedin-in"></i>
                    <i class="fa-brands fa-x-twitter"></i>
                </div>
            </div>
            <div class="team-members">
                <div class="members-image">
                    <img src="#">
                </div>
                <h3 class="members-name">Deepali Bisht</h3>
                <div class="members-socials">
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-facebook-f"></i>
                    <i class="fa-brands fa-linkedin-in"></i>
                    <i class="fa-brands fa-x-twitter"></i>
                </div>
            </div>
            <div class="team-members">
                <div class="members-image">
                    <img src="#">
                </div>
                <h3 class="members-name">Medini Joshi</h3>
                <div class="members-socials">
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-facebook-f"></i>
                    <i class="fa-brands fa-linkedin-in"></i>
                    <i class="fa-brands fa-x-twitter"></i>
                </div>
            </div>
            <div class="team-members">
                <div class="members-image">
                    <img src="#">
                </div>
                <h3 class="members-name">Sarthak Shishodia</h3>
                <div class="members-socials">
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-facebook-f"></i>
                    <i class="fa-brands fa-linkedin-in"></i>
                    <i class="fa-brands fa-x-twitter"></i>
                </div>
            </div>            
        </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js"></script>
</body>
</html>
